body {
  margin: 0px;
}
main {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
  background-color: #c0c5ce;
}

#quote-box {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  max-width: 400px;
  min-width: 400px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

#text {
  text-align: center;
}

#author {
  color: #c0c5ce;
  float: right;
}

#tweet-quote {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  background-color: #027bfa;
  border: solid 1px white;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
}

#new-quote {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  background-color: #003164;
  border: solid 1px white;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
}

#container {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
